# Dependencies
node_modules/
package-lock.json

# Build outputs
android/app/build/
android/.gradle/
android/app/build/
android/build/
android/.cxx/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Debug
*.log
